<div class="row">
  <div class="col-xs-12 col-md-12 col-lg-12">
    {{status}}
    <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-stop"></span> Stop</a>
    <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span> Restart</a>
    <a href="{{tracker}}" class="btn btn-default">Tracker URL</a>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-12 col-lg-12" ng-repeat="docker in details">
    <div class="tile">
      <h3>{{docker.image}}</h3>
      <p>Version: {{docker.version}}</p>
      <p>Ports: {{docker.ports}}</p>
      <p>Volumes: {{docker.volumes}}</p>
      <p>Environments: {{docker.env}}</p>
    </div>
  </div>
</div>

