<div class="row">
  <div class="col-xs-12 col-md-12 col-lg-12">
    <a ng-click="stopApp(appName)" class="btn btn-default"><span class="glyphicon glyphicon-stop"></span> Stop</a>
    <a ng-click="restartApp(appName)" class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span> Restart</a>
    <a href="{{tracker}}" class="btn btn-default"><span class="glyphicon glyphicon-new-window"></span> Tracker</a>
    {{status}}
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-12 col-lg-12" ng-repeat="docker in details.yarnfile.components">
    <div class="tile">
      <h3>{{docker.name}}</h3>
      <p>Artifact: {{docker.artifact.id}}</p>
      <p>Version: {{docker.version}}</p>
      <p>Ports: {{docker.ports}}</p>
      <p>Volumes: {{docker.volumes}}</p>
      <p>Environments: {{docker.configuration.env}}</p>
    </div>
  </div>
</div>

