      <form>
        <div class="input-group input-group-lg">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-search" id="search"></span>
          </div>
          <input type="text" class="form-control" placeholder="Search for applications from HDFS" aria-describedby="search" ng-model="searchText" ng-change="change(text)" />
        </div>
      </form>

      Recommended
      <div ng-repeat="a in appStore" ng-if="$index % 4 == 0" class="row">
        <div ng-repeat="i in [$index, $index + 1, $index + 2, $index + 3]" 
             ng-if="appStore[i] != null" class="col-xs-3 col-md-3 col-lg-3">
          <div class="tile">
            <h3>{{appStore[i].org}}</h3>
            <h2>{{appStore[i].name}}</h2>
            <p class="desc">{{appStore[i].desc}}</p>
            <div class="pull-left">
              <h5>
                <span class="glyphicon glyphicon-thumbs-up"></span>{{appStore[i].like | counterValue}} 
                <span class="glyphicon glyphicon-cloud-download"></span>{{appStore[i].download | counterValue}}
              </h5>
            </div>
            <div class="pull-right">
              <button class="btn btn-default" ng-click="deployApp(appStore[i].id)">CREATE</button>
            </div>
          </div>
        </div>
      </div>
