      <form>
        <div class="input-group input-group-lg">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-search" id="search"></span>
          </div>
          <input type="text" class="form-control" placeholder="Search for applications from HDFS" aria-describedby="search" ng-model="searchText" ng-change="change(text)" />
        </div>
      </form>

      Recommended
      <div class="row">
        <div class="col-xs-3 col-md-3 col-lg-3" ng-repeat="a in appStore">
          <div class="tile">
            <h3>{{a.org}}</h3>
            <h2>{{a.name}}</h2>
            <p class="desc">{{a.desc}}</p>
            <div class="pull-left">
              <span class="glyphicon glyphicon-heart"></span>{{a.like}}
              <span class="glyphicon glyphicon-cloud-download"></span>{{a.download}}
            </div>
            <div class="pull-right">
              <button class="btn btn-default" ng-click="deployApp(a.id)">CREATE</button>
            </div>
          </div>
        </div>
      </div>
